body {
    background: radial-gradient(circle, #203043 0%, #17202A 100%);
    color: #56FF8D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

#body {
    max-width: 700px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#body h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}

article {
    color: aquamarine;
}

span.tag {
    border: 1px black solid;
    color: #17202A;
    background: white;
    padding: 1px 5px 1px 5px ;
    border-radius: 5px;
    line-height: 25px;
}

a:link, a:visited {
    color: white;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin: 1px;
}

.linkedin { background-color: #0077B5; }
.youtube { background-color: #FF0000; }
.twitter { background-color: #1DA1F2; }
.github { background-color: #333; }

.profile-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }
}

.profile-container img {
    /* margin-right: 10px; */
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #17202A;
}

.navbar a {
    color: #56FF8D;
    text-decoration: none;
}